@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root{
    --primary-color:#222930;
}   
body{
    font-family: 'Noto Sans', sans-serif;
    
}

hr{
    margin: 2rem 0rem;
}

/** container **/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width:600px;
    margin:auto;

}
/** links **/
.link{
    padding: 5rem 1rem;
}
.link-primary{
    padding:0.5rem 0.5rem;
    text-decoration: none;
    background-color: var(--primary-color);
    border:0.5px solid; 
    border-radius: 0.5rem;
    color: white;
    display:block;
    text-align: center;
}
.link-secondary{
    padding:0.5rem 0.5rem;
    text-decoration: none;
    border:0.5px solid;
    border-radius: 0.5rem;
    color:blue;
    display:block;
    text-align: center;
    
}
/** list **/
.list-non-bullet{
    list-style: none;
}
.list-inline-list{
    display: inline;
    padding: 0rem 1rem;
    color: #1D4ED8;
}
/** navigation **/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem
}
.nav-link{
       font-size: 23px;
}
.linklist{
    color: white;
    text-decoration: none;  
}
.nav-pills{
    text-align: right;
    padding: 0rem 1rem;
    font-size: 23px;
   
}
.link-active{
    font-weight: bold; 
    text-decoration: none;   
}
/** header **/
.hero{
    padding: 2rem;
    text-align: center;
}
.hero-img{
    max-width: 350px;
    margin: auto;
    padding: 2rem 5rem;
    display: block;
}
.hero-header{
    text-align: center;
    color:#2e064e;
    font-weight: bold;
    font-size: 2.5rem;
}
.hero-tag{
    color:#222930;
    font-size: 2.5rem;
}
/* section */
.section{
    text-align: center;
}
.section h3{
    text-align: center;
}
 .section-para{
    margin: auto;
   max-width: 400px;  
   padding: 1rem ;
 }
.section-color{
    background-color: #D1FAE5;
    text-align: center;
}
footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    border-bottom-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
    text-decoration: none;
}
.foot{
    text-align: static;
    font-size: 23px;
    background-color:var(--primary-color);
 }
.footer ul{
    padding-inline-start: 0px;
}


.social{
    font-weight: bold;
}
.footloop{
    text-decoration: none;
}
.project{
    background-color:  #D1FAE5;
}
